body {
  height: 100vh;
  @include flex-center;
  background: $bg-gradient;
  font-family: sans-serif;
}

.container {
  width: 600px;
}


.card {
  position: relative;
  background: $card-bg;
  backdrop-filter: $blur;
  padding: 100px 40px;
  border-radius: $radius;
  color: $text-light;
  animation: fade 0.5s;

  h2 {
    position: absolute;
    top: 0;
    left: 35%;
    font-size: 40px;
  }

  .flex {
    display: flex;
    width: 100%;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;

    button {
      @include button-base;
      font-size: 30px;
      background: $primary;
      width: 20%;
      margin-top: 10px;
      margin-left: 40%
      
    }
  }

  .button_quiz {
    @include button-base;
    padding: 10px;
    background: $primary;
    color: black;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    font-family: system-ui;
  }

  .task-title {
    font-size: 1.5rem;
    color: $primary-color;
  }
  .task-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
      font-weight: bold;
      
      span { 
        color: $primary-color;
        margin-left: 5px;
      }
    }

    input[type="text"] {
       @include input-style; // pour mixin scss
    }

    .btn-submit {
      @extend .hover-effect; // pour animation scss
      background: $primary-color;
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
    }
  }
}
